<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.girish.vlog">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>

    <application>
        <service android:name="com.android.girish.vlog.chatheads.chatheads.OverlayService"
            android:exported="true"/>
    </application>
</manifest>
